body {
  margin: 8px;
  font-family:  Manrope, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #414047; */
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div, p, span, h1, h2, h3, h4, h5, h6, small, b, i, ul, li {
  font-family: Manrope, sans-serif;
}
